<section class="game-section">
  @if (!endGame) {
    <div class="game-header">
      <div class="game-tour-wrapper">
        <div class="game-tour">
          <p>{{ language === "fr" ? "Tour" : "Round" }} {{ currentRound }} {{ language === "fr" ? "sur" : "of" }} {{ totalRounds }}</p>
          <p class="countdown" *ngIf="remainingTime">{{ language === "fr" ? "Temps restant" : "Time remaining" }}: {{ remainingTime }}</p>
        </div>
        <div class="next-button">
          <button *ngIf="endRound && showCorrectAnswerModal" (click)="nextTurn()">
            <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e3e3e3"><path d="M411-481 213-679l42-42 240 240-240 240-42-42 198-198Zm253 0L466-679l42-42 240 240-240 240-42-42 198-198Z"/></svg>
          </button>
        </div>
      </div>
    </div>

    <!-- GAME INJECTION SECTION -->
    <app-map 
      *ngIf="subgamemode === 'map'" 
      (answerSelected)="handleAnswer($event.selectedCode, $event.correctCode)"
      (mapReady)="onMapReady()"
      [turn]="currentRound"
      [countryCode]="countryCode"
      [endRound]="endRound">
    </app-map>

    <app-find-capital 
      *ngIf="subgamemode === 'findCapital'" 
      (answerSelected)="handleAnswer($event.selectedCode, $event.correctCode)"
      [turn]="currentRound">
    </app-find-capital>
    <app-write-capital 
      *ngIf="subgamemode === 'writeCapital'" 
      (answerSelected)="handleAnswer($event.selectedCode, $event.correctCode)"
      [turn]="currentRound"
      [endRound]="endRound">
    </app-write-capital>
    <app-find-country-by-capital 
      *ngIf="subgamemode === 'findCountryByCapital'" 
      (answerSelected)="handleAnswer($event.selectedCode, $event.correctCode)"
      [turn]="currentRound">
    </app-find-country-by-capital>

    <app-find-flag 
      *ngIf="subgamemode === 'findFlag'" 
      (answerSelected)="handleAnswer($event.selectedCode, $event.correctCode)"
      [turn]="currentRound">
    </app-find-flag>
    <app-find-country-by-flag
      *ngIf="subgamemode === 'findCountryByFlag'" 
      (answerSelected)="handleAnswer($event.selectedCode, $event.correctCode)"
      [turn]="currentRound">
    </app-find-country-by-flag>

    <app-find-license-plate 
      *ngIf="subgamemode === 'findLicensePlate'" 
      (answerSelected)="handleAnswer($event.selectedCode, $event.correctCode)"
      [turn]="currentRound">
    </app-find-license-plate>
    <app-find-country-by-license-plate 
      *ngIf="subgamemode === 'findCountryByLicensePlate'" 
      (answerSelected)="handleAnswer($event.selectedCode, $event.correctCode)"
      [turn]="currentRound">
    </app-find-country-by-license-plate>

    <!-- END ROUND COMPONENT -->
    <app-endround 
      *ngIf="endRound && !showCorrectAnswerModal" 
      [isCorrect]="isCorrect" 
      (nextClicked)="nextTurn()"
      (showCorrectAnswerClicked)="showCorrectAnswer()">
    </app-endround>

  } @else {
    <app-endgame></app-endgame>
  }
</section>