<section class="game-section">
  @if (!endGame) {
    <div class="game-header">
      <p>Round {{ currentRound }} of {{ totalRounds }}</p>
      <p class="countdown" *ngIf="!this.endRound && remainingTime">Time remaining: {{ remainingTime }}</p>
    </div>

    <!-- GAME INJECTION SECTION -->
    <app-find-capital 
      *ngIf="subgamemode === 'findCapital'" 
      (answerSelected)="handleAnswer($event.selectedCode, $event.correctCode)"
      [turn]="currentRound">
    </app-find-capital>
    <app-write-capital 
      *ngIf="subgamemode === 'writeCapital'" 
      (answerSelected)="handleAnswer($event.selectedCode, $event.correctCode)"
      [turn]="currentRound">
    </app-write-capital>
    <app-find-country-by-capital 
      *ngIf="subgamemode === 'findCountryByCapital'" 
      (answerSelected)="handleAnswer($event.selectedCode, $event.correctCode)"
      [turn]="currentRound">
    </app-find-country-by-capital>

    <app-find-flag 
      *ngIf="subgamemode === 'findFlag'" 
      (answerSelected)="handleAnswer($event.selectedCode, $event.correctCode)"
      [turn]="currentRound">
    </app-find-flag>
    <app-find-country-by-flag
      *ngIf="subgamemode === 'findCountryByFlag'" 
      (answerSelected)="handleAnswer($event.selectedCode, $event.correctCode)"
      [turn]="currentRound">
    </app-find-country-by-flag>
    <!-- END GAME INJECTION SECTION -->

    <div class="turn-result" *ngIf="endRound">
      <p *ngIf="isCorrect" class="correct">Correct!</p>
      <p *ngIf="!isCorrect" class="incorrect">Incorrect</p>
      <button (click)="nextTurn()">Next</button>
    </div>
    
  } @else {
    <div class="end-game">
      <p>Game Over! You completed {{ currentRound }} rounds.</p>
      <!-- <button (click)="gameStateService.resetGame()">Play Again</button> -->
    </div> 
  }
</section>