<section class="game-section">
  @if (!endGame) {
    <div class="game-header">
      <p>{{ language === "fr" ? "Tour" : "Round" }} {{ currentRound }} {{ language === "fr" ? "sur" : "of" }} {{ totalRounds }}</p>
      <p class="countdown" *ngIf="!this.endRound && remainingTime">{{ language === "fr" ? "Temps restant" : "Time remaining" }}: {{ remainingTime }}</p>
    </div>

    <!-- GAME INJECTION SECTION -->
    <app-map 
      *ngIf="subgamemode === 'map'" 
      (answerSelected)="handleAnswer($event.selectedCode, $event.correctCode)"
      [turn]="currentRound"
      [countryCode]="countryCode"
      [endRound]="endRound">
    </app-map>

    <app-find-capital 
      *ngIf="subgamemode === 'findCapital'" 
      (answerSelected)="handleAnswer($event.selectedCode, $event.correctCode)"
      [turn]="currentRound">
    </app-find-capital>
    <app-write-capital 
      *ngIf="subgamemode === 'writeCapital'" 
      (answerSelected)="handleAnswer($event.selectedCode, $event.correctCode)"
      [turn]="currentRound"
      [endRound]="endRound">
    </app-write-capital>
    <app-find-country-by-capital 
      *ngIf="subgamemode === 'findCountryByCapital'" 
      (answerSelected)="handleAnswer($event.selectedCode, $event.correctCode)"
      [turn]="currentRound">
    </app-find-country-by-capital>

    <app-find-flag 
      *ngIf="subgamemode === 'findFlag'" 
      (answerSelected)="handleAnswer($event.selectedCode, $event.correctCode)"
      [turn]="currentRound">
    </app-find-flag>
    <app-find-country-by-flag
      *ngIf="subgamemode === 'findCountryByFlag'" 
      (answerSelected)="handleAnswer($event.selectedCode, $event.correctCode)"
      [turn]="currentRound">
    </app-find-country-by-flag>

    <app-find-license-plate 
      *ngIf="subgamemode === 'findLicensePlate'" 
      (answerSelected)="handleAnswer($event.selectedCode, $event.correctCode)"
      [turn]="currentRound">
    </app-find-license-plate>
    <app-find-country-by-license-plate 
      *ngIf="subgamemode === 'findCountryByLicensePlate'" 
      (answerSelected)="handleAnswer($event.selectedCode, $event.correctCode)"
      [turn]="currentRound">
    </app-find-country-by-license-plate>

    <!-- END ROUND COMPONENT -->
    <app-endround 
      *ngIf="endRound" 
      [isCorrect]="isCorrect" 
      (nextClicked)="nextTurn()">
    </app-endround>

  } @else {
    <app-endgame></app-endgame>
  }
</section>