<section>
  <div class="country-name">
    {{ selectedCountry }}
  </div>
  <div class="input-container" *ngIf="countries.length > 0">
    <input type="text" class="answer-input" 
    [(ngModel)]="userAnswer" 
    (ngModelChange)="saveUserAnswerSession($event)"
    placeholder="{{ language === 'fr' ? 'Écrivez la réponse' : 'Type the answer' }}"
    [disabled]="endRound"
    (keyup.enter)="onAnswerSelect({ userAnswer })">
      <button class="confirm-btn" 
    (click)="onAnswerSelect({ userAnswer })"
    [disabled]="endRound">
    {{ language === 'fr' ? 'Confirmer' : 'Confirm' }}
  </button>
  </div>
  <div class="correct-answer-container modeal-content" *ngIf="showCorrectAnswerFlag">
    <div class="correct-answer-box">
      <div class="answer-label">
        {{ language === 'fr' ? 'Réponse(s) possible(s) :' : 'Possible answer(s):' }}
      </div>
      <div class="answer-list">
        <span class="answer-item" *ngFor="let capital of selectedCapitals; let last = last">
          {{ capital }}<span *ngIf="!last" class="answer-separator">, </span>
        </span>
      </div>
    </div>
  </div>
</section>