@font-face {
    font-family: 'RadioSpace';
    src: url('/fonts/radio_space/radiospace.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.space-background {
    background-image: url('/images/backgrounds/space-stars-bw.jpg');
    /* background-color: #040615; */
    background-size: cover;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -2;
}

.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 90vh;
    position: relative;
    overflow: hidden;
}

.menu {
    font-family: 'RadioSpace', sans-serif;
    font-size: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 5vh 0 0 5vw;
}

.menu-item {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.left::after {
  transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}

.menu-header {
    height: 100px;
}

/* Modal styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    overflow-y: scroll;
    height: 90%;
    margin: 100px;
    max-width: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submenu-options {
    margin: 20px 0;
}

.option-item {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.option-item label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.cancel-btn {
    padding: 8px 16px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.go-btn {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.go-btn:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.disabled-btn {
  opacity: 0.6;
  pointer-events: none;
}

.planet-container {
    border-radius: 50%;
    box-shadow: 5px -3px 10px 3px #5e90f1;
    height: 1000px;
    overflow: hidden;
    position: absolute;
    width: 1000px;
    z-index: -1;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.night {
    animation: rotate-night 80s linear infinite;
    background-image: url('/images/backgrounds/2k_earth_nightmap.jpg');
    background-size: 200%;
    height: 1000px;
    position: absolute;
    width: 1000px;
    z-index: 2;
}
.day {
    animation: rotate-day 80s linear infinite;
    background-image: url('/images/backgrounds/2k_earth_daymap.jpg');
    background-size: 200%;
    border-left: solid 1px black;
    border-radius: 50%;
    box-shadow: 5px 0 20px 10px #040615 inset; 
    height: 1000px;
    margin-left: 110px;
    position: absolute;
    width: 1000px;
    z-index: 3;
}
.clouds {
    animation: rotate-day 50s linear infinite, spin-clouds 100s ease infinite;
    background-image: url('/images/backgrounds/2k_earth_clouds.jpg');
    background-size: 200%;
    border-radius: 50%;    
    box-shadow: 5px 0 20px 10px #040615 inset, -9px 0px 20px 10px #5e90f1 inset;
    height: 1000px;
    margin-left: 100px;
    opacity: 0.45;
    position: absolute;
    width: 1000px;
    z-index: 4;
}
.inner-shadow {
    background: transparent;
    border-radius: 50%;
    box-shadow: -5px 0 10px 1px #152b57 inset, 5px 0 10px 1px #040615 inset;
    height: 1000px;
    margin-left: 0;
    position: absolute;
    width: 1000px;
    z-index: 5;
}

@keyframes rotate-day {
    0% { background-position: 120% 0; }
    100% { background-position: -80% 0; }
}
@keyframes rotate-night {
    0% { background-position: calc(120% + 120px) 0; }
    100% { background-position: calc(-80% + 120px) 0; }
}
@keyframes spin-clouds {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(20deg); }
    100% { transform: rotate(0deg); }
}