<div class="menu-header">
  <div class="back-button" *ngIf="menuConfig.referrer" (click)="handleBackMenu()">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/></svg>
  </div>
</div>

<!-- NEW: pre and post overlays -->
<div class="transition-overlay pre" *ngIf="transitionPhase === 'pre'"></div>
<canvas id="canvas" *ngIf="transitionPhase === 'travel'"></canvas>
<div class="transition-overlay post" *ngIf="transitionPhase === 'post'"></div>

<section class="main-menu">
  <div class='space-background'></div>
  <div class='planet-container'>
    <div class='night'></div>
    <div class='day'></div>
    <div class='clouds'></div>
    <div class='inner-shadow'></div>
  </div>
  <div class="menu">
    <div *ngIf="isMenuRoot()">
      <h1 class="menu-title">GEONOVIS</h1>
    </div>
    <div
      class="menu-item"
      *ngFor="let menuContent of menuConfig?.content"
      (click)="handleNextMenu(menuConfig.type, menuContent.id, menuContent.start, menuContent.submenu, menuContent.linkto || (menuContent.start ? 'rules' : 'rules'))">
      {{ menuContent.name[language] }}
    </div>
    <div class="menu-item join-game-btn" (click)="redirectGame()" *ngIf="gameStarted">
      {{ language === 'fr' ? 'PARTIE EN COURS' : 'GAME IN PROGRESS' }}
    </div>
  </div>

  <!-- Modal Window -->
  <div class="modal-overlay" *ngIf="showSubmenuModal" (click)="closeModal($event)">
    <div class="modal-content">
      <h3>{{ currentSubmenuTitle }}</h3>
      <p>{{ currentSubmenuText }}</p>

      <div class="submenu-options">
        <div class="option-item" *ngFor="let option of submenuOptions">
          <label>
            <input type="checkbox" [(ngModel)]="option.selected">
            <img src="/images/maps/map-{{option.id}}.png" alt="{{ option.name[language] }}" class="option-icon">
            {{ option.name[language] }}
          </label>
        </div>
      </div>

      <div class="modal-actions">
        <button class="cancel-btn" (click)="closeModal($event)">Cancel</button>
        <button 
          class="go-btn" 
          [disabled]="!hasSelectedOptions()" 
          [ngClass]="{'disabled-btn': !hasSelectedOptions()}"
          (click)="proceedWithSubmenu()">
          Go
        </button>
      </div>
    </div>
  </div>
</section>