<section class="main-menu">
  <div class="menu-header">
    <button class="back-button" *ngIf="menuConfig.referrer" (click)="handleBackMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/></svg>
    </button>
  </div>

  <div>
    <button class="join-game-btn" (click)="redirectGame()" *ngIf="gameStarted">
      Join Game
    </button>
    <br>
  </div>

  <div class="menu">
    <div
      class="menu-item"
      *ngFor="let menuContent of menuConfig?.content"
      (click)="handleNextMenu(menuConfig.type, menuContent.id, menuContent.start, menuContent.submenu, menuContent.linkto || (menuContent.start ? 'rules' : 'rules'))">
      {{ menuContent.name[language] }}
    </div>
  </div>
  
  <!-- Modal Window -->
  <div class="modal-overlay" *ngIf="showSubmenuModal" (click)="closeModal($event)">
    <div class="modal-content">
      <h3>{{ currentSubmenuTitle }}</h3>
      <p>Select game modes to include:</p>
      
      <div class="submenu-options">
        <div class="option-item" *ngFor="let option of submenuOptions">
          <label>
            <input type="checkbox" [(ngModel)]="option.selected">
            {{ option.name[language] }}
          </label>
        </div>
      </div>
      
      <div class="modal-actions">
        <button class="cancel-btn" (click)="closeModal($event)">Cancel</button>
        <button class="go-btn" (click)="proceedWithSubmenu()">Go</button>
      </div>
    </div>
  </div>
</section>