.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.menu-item {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
}

.menu-header {
    height: 100px;
}